* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

img {
    width: 70px;
    vertical-align: bottom;
}

button {
    text-align: center;
    padding: 5px 7px;
    border-radius: 5px;
}

#blue_button{
    color: white;
    background-color: steelblue;
    border-width: 0;
}

#white_button{
    color: lightgray;
    background-color: rgb(248, 246, 246);
    border: 1px solid lightgray;
}

h1 {
    display: inline-block;
    line-height: 70px;
    font-weight: 900;
    font-size: 40px;
}  

header {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

main {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    width: 720px;
    margin: 0 auto;
}

.sections_container {
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    border-top-color: lightgray;
    border-style: solid;
    border-width: 3px;
}

.section {
    margin-bottom: 20px;
}

.span_editorial {
    background-color: steelblue;
}

.span_q1goals {
    background-color: rebeccapurple;
}

.span_recruiting {
    background-color: seagreen;
}

.span_mobile {
    background-color: orange;
}

.span_website {
    background-color: palevioletred;
}

.span_sales {
    background-color: olive;
}

.span_colorati {
    color: white;
    padding: 5px;
    border-radius: 8px;
}

#button_container {
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}